@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
  padding:0;

}

@layer components {
  .bg-glass {
    @apply bg-gradient-to-r from-[#ffffff1] to-[#ffffff0] backdrop-blur-md shadow-lg border-[1px] border-white/10;
  }

  .text-gradient-animated-purple {
    @apply bg-gradient-to-r from-indigo-800 from-10% via-indigo-950 via-40% to-indigo-800 to-90% text-transparent bg-clip-text bg-[length:400%_10px] animate-move_bg;
  }
}
